/* Hero Section */
.main-banner{
    width: 100%;
    height: 90vh;
    transition: 0.3s ease-in;
    background-color: #000000;
    background-image: url('../images/profile.png');
    background-size: 40%;
    background-position: 90% bottom;
    background-repeat: no-repeat;
}

main h1{
    color: #f5f5f5;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 94.5px;
    width: 1291px;
    height: auto;
    text-align: left;
}

.hero-section{
    padding-top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    transition: 0.3s ease-in;
}


.text-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    top: 40px;
    padding: 30px;
}

.hero-text{
    padding-top: 10px;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
    max-width: 900px;
}

.hero-button{
    margin-top: 40px;
    display: flex;
    height: 65px;
    width: 200px;  
}
.hero-button a{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media(max-width: 1300px){

    main h1{
        font-weight: 800;
        line-height: 60px;
        width: 100%;    
    }
    .main-banner{
        background-size: 60%;
    }
}


@media(max-width: 1000px){
    .main-banner{
        height: 750px;
        background-position: center bottom;
        background-size: 300px;
    }
    .hero-section{
        padding-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-content{
        align-items: center;
    }
    main h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        width: 100%;    
    }
    .hero-text{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .hero-button{

        height: 60px;
        width: 180px;  
    }
    .hero-button a{
        font-size: 18px;
    }

}

@media(max-width: 600px){
    main h1{
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        width: 100%;    
    }
    .hero-text{
        font-size: 12px;
    }
    
}


/* Our Mission (done)*/ 
.our-mission{
    background-color: #121212;
}
.m-text-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-level3 span{
    font-weight: 600;
    color:var(--logo-color);
}

.misson-text{
    text-align: justify;
}


/* About Me */

.about-pro-exp{
    padding-top: 80px;
    background-color: #121212;
    transition: 0.3s ease-in;
    padding-bottom: 100px;
    border-bottom-left-radius: 400px 200px; /* radius measurements larger than the shape itself can be declared */
    border-bottom-right-radius: 20%; /* you can mix and match with regular radius statements */
}

.about-header{
    display: flex;
    flex-direction: column;
}

.span-red{
    color:var(--logo-color);
}

.pro-exp-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
}
.pro-exp{
    padding: 20px;
    width: 1200px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s ease-in;
}

.a-pro-exp{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.a-pro-exp-content{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-left: solid var(--logo-color);
}

.a-pro-exp-cards{
    border: solid rgb(218, 218, 218);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease-in;
}

.a-pro-exp-cards:hover{
    scale: 1.02;
}
.a-pro-exp-cards ul {
    padding-left: 10px;
    padding-top: 10px;
    color: #fff;
}


@media(max-width: 1300px){
    .pro-exp{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .a-pro-exp{
        padding-top: 50px;
    }
    .about-pro-exp{
        padding-bottom: 200px;
    }
}

@media(max-width: 600px){
    .pro-exp{
        padding-left: 0px;
    }
    
    .a-pro-exp{
        padding-left: 0px;
    }
    .about-pro-exp{
        padding-bottom: 200px;
    }
}



/* Services Section */


.service-wrapper{
    width: 1000px;
}

.services-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.services-cards{
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

/* service card type1 */
.service-card1{
    overflow: visible;
    margin-top: 50px;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    width: 100%;
    background: #bbc4d4;
}
.service-card1 img {
    max-width:550px;
    max-height: 430px;
}
.service-card1:hover{
    scale: 1.02;
}

.s-card-content{
    height: 100%;
    display: flex;
    justify-content: center;
}
.card-design{
    position: relative;
    width: 11px;
    height: 71px;
    top: 200px;
    background-color: var(--logo-color);
}
.s-card-text{
    transition: 0.3s ease-in;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 460px;
}


.s-card-link{
    
    transition: 0.3s ease-in;
    padding-top: 50px;
    text-decoration: none;
    color: #272727;
    font-size: 18px;
    font-weight: 500;
}

.s-card-link:hover{
    scale: 1.1;
}




/* service gallery */

.service-container{
    width: 100%;
}

.service-gallery{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-img-container{
    width: 90%;
    margin: 60px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 30px;
}

.s-img-container img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.s-img-container img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

@media(max-width: 1000px){

    .s-card-link{
        font-size: 16px;
    }
    .service-wrapper{
        width: 800px;
    }

    .service-card1{
        height: auto;
        padding-bottom: 50px;
    }
    .service-card1 img {
        max-width:350px;
        max-height: 300px;
    }

    .card-design{
        top: 50px;
    }

    .s-arrow-svg{
        height: 10px;
        width: 10px;
    }


}

@media(max-width: 810px){

    .s-card-link{
        font-size: 12px;
    }
    .service-wrapper{
        width: 550px;
    }

    .service-card1{
        
        height: auto;
        
    }
    .service-card1 img {
        display: none;
    }

    .s-card-text{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .card-design{
        top: 50px;
    }
    .s-arrow-svg{
        height: 8px;
        width: 8px;
    }

    .s-img-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 30px;
        margin: 20px auto 20px;
    }
}

@media(max-width: 600px){

    .services-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .s-card-link{
        font-size: 12px;
    }
    .service-wrapper{
        width: 300px;
    }

    .service-card1{
        height: auto;
    }
    .service-card1 img {
        display: none;
    }

    .s-card-text{
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
    }

    .card-design{
        top: 50px;
    }
    .s-arrow-svg{
        height: 8px;
        width: 8px;
    }
}



/* Contact */

.footer-contact{
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.74)), url(../images/footer-bg-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
}

.c-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: 100%;
    
}
.c-map{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-self: center;
    width: 100%;
    padding: 10px;
}
.c-map a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}

.h-p{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
}
.s-p{
    color: #b8b8b8; 
    font-size: 18px;
    text-align: center;
}


.c-map a:hover{
    scale: 1.2;
}

.svg-color{
    fill: rgb(146, 68, 68);
}
.c-map a:hover .svg-color{
    fill: rgba(94, 94, 94, 0.808);
}
.c-contact {
    width: 90%;
    margin: 10px auto;
    background-color: #1d01019a;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.c-contact h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(240, 240, 240);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(255, 247, 247);
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 15px;
    background: rgba(95, 95, 95, 0.116);
}

textarea {
    resize: vertical;
    color: azure;
}

.btn_contact {
    border: none;
    outline: none;
    font-size: 18px;
    width: 160px;
    height: 60px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(49, 49, 49);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_contact:hover{
    background: var(--logo-color);
}

input{
    color: azure;
}

@media(max-width: 1300px){
    .svg-size{
        width: 70px;
        height: 70px;
    }
    .h-p{
        font-size: 20px;
    }
    .s-p{
        font-size: 14px;
    }
    
}


@media(max-width: 1000px){
    .c-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    #contact-us{
        margin-bottom: 30px;
    }
    .c-map{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    
}

@media(max-width: 600px){
    .c-map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .c-map a{
        margin-bottom: 30px;
    }

    .c-contact h2 {
        font-size: 18px;
    }
    label{
        font-size: 12px;
    }
    input{
        font-size: 11px;
    }


}


/* skills */

.cards-tabs {
    /* position: relative; */
    margin: 30px 0px;
    height: auto;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    align-items: center;
}

.card-image {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-image: url(../images/skills.png);

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-tab {
    /* position: absolute; */
    margin: 10px 0px;
    height: 100%;
    width: 100%;
    padding: 15px;
    /* border-radius: 4px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: #fff;
    /* background-image: linear-gradient(133deg, #466360 0%, #01716b 100%); */
    background-image: linear-gradient(133deg, #111111 0%, #474646 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in;
}

.card-tab ul{
    padding-left: 30px;
}

.card-tab:hover {
    transform: scale(1.03);
    cursor: pointer;
}

@media(max-width: 900px){
    .cards-tabs {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.error{
    color: var(--logo-color);
}